/* 
header {
    background-image: url(../multimedia/white2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    grid-area: menus;
    width: 100%;
    transition: height 3s;
} */

/* .foto1,
.foto2 {
    width: 25%;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 14rem;
    grid-area: foto1;
    transition: all 1s ease;
}

.foto1:hover{
    scale: 1.1;
}

.foto2 {
    grid-area: foto2;
}
.foto2:hover{
    scale: 1.1;
}
.foto1 img,
.foto2 img {
    width: 100%;
}
 */
/* .logo,
.logo2 {
    background-image: url("../multimedia/DMC-Emblem.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;

    width: 200px;
    height: 60px;
    border: solid 2px white;
    padding: 15px;
}

.logo2 {
    margin-top: 100px;
} */

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: tabla;
    transition: all 2s ease;
}

.tabla:hover {
    transform: scale(1.2);
    transition: 1s;
}

/* .tabla table,
tr,
th,
td {
    margin-top: 125px;
    margin-bottom: 150px;
    margin-left: 1%;
    background-color: beige;
    border: 2px solid black;
} */

/* .DMC {
    color: white;
    background: linear-gradient(to top, rgb(48, 48, 48), rgb(77, 77, 77));
    width: 35%;
    border: black 4px solid;
    padding: 10px;
    grid-area: DMC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-area: dmc;
    transition: height 3s;
}

.DMC2 {
    color: white;
    background: linear-gradient(to top, rgb(48, 48, 48), rgb(77, 77, 77));
    width: 35%;
    border: black 4px solid;
    padding: 10px;
    grid-area: DMC2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-area: dmc2;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-area: texto;
} */

/* Un Clásico */

/* .foto_clasico {
    background-image: url("../multimedia/clasico.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 40%;
    height: 400px;
    margin: 25px;
    margin-left: 1%;
    border: solid 4px black;
    padding: 15px;
    grid-area: foto_clasico;
    transition: all 1s ease;
}

.foto_clasico2 {
    background-image: url("../multimedia/clasico2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 45%;
    height: 400px;
    margin: 25px;
    margin-left: 5%;
    border: solid 4px black;
    padding: 15px;
    transition: all 1s ease;
}

.foto_clasico3 {
    background-image: url("../multimedia/clasico3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 40%;
    height: 400px;
    margin: 25px;
    margin-left: 1%;
    border: solid 4px black;
    padding: 15px;
    transition: all 1s ease;
}

.foto_clasico4 {
    background-image: url("../multimedia/clasico4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 45%;
    height: 400px;
    margin: 25px;
    margin-left: 5%;
    border: solid 4px black;
    padding: 15px;
    transition: all 1s ease;
}
.foto_clasico:hover, .foto_clasico2:hover, .foto_clasico3:hover, .foto_clasico4:hover{
    transform: scale(1.1);
}
.texto_clasico {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 40%;
    margin-left: 1%;
    border: black 4px solid;
    padding: 10px;
}

.texto_clasico2 {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 45%;
    margin: 25px;
    margin-left: 6.4%;
    border: black 4px solid;
    padding: 10px;
    position: relative;
    top: -18px
} */

/* Alpha 5 */
/* .foto_nuevo {
    background-image: url("../multimedia/alpha5-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 35%;
    height: 400px;
    margin: 25px;
    margin-left: 1%;
    border: solid 4px black;
    padding: 15px;
}

.foto_nuevo2 {
    background-image: url("../multimedia/Alpha5-2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 35%;
    height: 400px;
    margin: 25px;
    margin-left: 5%;
    border: solid 4px black;
    padding: 15px;
}

.foto_nuevo3 {
    background-image: url("../multimedia/Alpha5-3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 35%;
    height: 500px;
    margin: 25px;
    margin-left: 1%;
    border: solid 4px black;
    padding: 15px;
}

.foto_nuevo4 {
    background-image: url("../multimedia/Alpha5-4.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 35%;
    height: 500px;
    margin: 25px;
    margin-left: 5%;
    border: solid 4px black;
    padding: 15px;
}

.texto_nuevo {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 35%;
    margin-left: 1%;
    border: black 4px solid;
    padding: 10px;
}

.texto_nuevo2 {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 35%;
    margin: 25px;
    margin-left: 6.4%;
    border: black 4px solid;
    padding: 10px;
    position: relative;
    top: -18px
} */

/* Conceptos */
/* .concepto1 {
    background-image: url("../multimedia/dmc-24.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    margin: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 4px black;
    padding: 15px;
}

.concepto2 {
    background-image: url("../multimedia/delorean-alpha-2-concept.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    margin: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 4px black;
    padding: 15px;
}

.concepto3 {
    background-image: url("../multimedia/delorean-alpha-3-concept.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    margin: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 4px black;
    padding: 15px;
}

.concepto4 {
    background-image: url("../multimedia/delorean-alpha-4-concept.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    margin: 25px;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 4px black;
    padding: 15px;
}

.texto_concepto {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: black 4px solid;
    padding: 10px;
    position: relative;
    top: -50px
}
 */
/* Contacto */
/* .texto__contacto {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: fit-content;
    margin-bottom: 20px;
    padding: 10px;
    border: solid black 2 px;
}

.texto__contacto--respuesta {
    display: inline-block;
    color: black;
    background-color: white;
    width: fit-content;
    margin-bottom: 50px;
    padding: 10px;
    position: relative;
} */


/* Responsive */
/* @media screen and (min-width: 1024px) {
    .main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 55% 20%;
        grid-template-areas:
            "foto1 foto2"
            "dmc dmc2"
            "tabla tabla"
        ;
        align-content: center;
        justify-content: center;
    }
    .foto1{
        width: 80%;
        height: 100%;
        background-image: url(../multimedia/john_delorean.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-self: center;
        position: relative;
        top: 20%;
    }
    .foto2{
        width: 80%;
        height: 100%;
        background-image: url(../multimedia/time-machine.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-self: center;
        position: relative;
        top: 20%;
    }

    .logo2 {
        margin-top: 240px;
    }
    .DMC{
        width: 90%;
        height: auto;
        justify-self: center;
        align-self: center;
        margin: 20px;
        position: relative;
<<<<<<< Updated upstream
        top: 15%;
=======
>>>>>>> Stashed changes
    }
    .DMC2{
        width: 90%;
        height: auto;
        margin: 20px;
        justify-self: center;
        align-self: center;
        position: relative;
<<<<<<< Updated upstream
        top: 15%;
=======
>>>>>>> Stashed changes
    }
    .tabla{
        position: relative;
        top: 55%;
    }
}

.footer {
    grid-area: footer;
}

.contenedor_clasico {
    grid-area: 2;
}

.foto_clasico {
    grid-area: foto_clasico;
}

.foto_clasico2 {
    grid-area: foto_clasico2;
}

.foto_clasico3 {
    grid-area: foto_clasico3;
}

.foto_clasico4 {
    grid-area: foto_clasico4;
}

.texto_clasico {
    grid-area: texto_clasico;
}

.texto_clasico2 {
    grid-area: texto_clasico2;
}

@media screen and (max-width: 1023px) {

    .contenedor_clasico {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 35% 20% 20% 35% 20%;
        grid-template-areas:
            "foto_clasico"
            "texto_clasico"
            "foto_clasico2"
            "foto_clasico3"
            "texto_clasico2"
            "foto_clasico4"
        ;
    }

    .texto_clasico {
        width: 90%;
        height: auto;
    }

    .texto_clasico2 {
        width: 90%;
        height: 100%;
    }

    .foto_clasico {
        width: 90%;
        height: 70%;
    }

    .foto_clasico2 {
        width: 90%;
        height: 70%;
    }

    .foto_clasico3 {
        width: 90%;
        height: 100%;
        position: relative;
        top: -50px;
        justify-self: center;
    }

    .foto_clasico4 {
        width: 90%;
        height: 100%;
    }


}

@media screen and (max-width: 1023px) {
    .contenedor_clasico {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 30% 50% 50% 35% 50%;
        grid-template-areas:
            "foto_clasico"
            "texto_clasico"
            "foto_clasico2"
            "foto_clasico3"
            "texto_clasico2"
            "foto_clasico4"
        ;
    }
    
    .texto_clasico {
        width: 90%;
        height: auto;
        margin-left: 3%;
    }

    .texto_clasico2 {
        width: 90%;
        height: auto;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico {
        width: 90%;
        height: 90%;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico2 {
        width: 90%;
        height: auto;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico3 {
        width: 90%;
        height: 100%;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico4 {
        width: 90%;
        height: 100%;
        justify-self: center;
        margin-left: 1%;
    }

    .logo2 {
        position: relative;
        top: 1200px;
    }   

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 45% 35% 45% 35% 20%;
        grid-template-areas:
            "foto1"
            "dmc"
            "foto2"
            "dmc2"
            "tabla"
        ;
    }
    .foto1{
        background-image: url(../multimedia/john_delorean.jpg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 90%;
        gap: 0rem;
        justify-self: center;
        margin-left: 5%;
    }
    .foto2{
        background-image: url(../multimedia/time-machine.jpg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 90%;
        gap: 0rem;
        justify-self: center;
        margin-left: 5%;
    }
    .DMC{
        width: 90%;
        height: auto;
        justify-self:center;
        position: relative;
<<<<<<< Updated upstream
        top: 4%;
=======
>>>>>>> Stashed changes
    }
    .DMC2{
        width: 90%;
        height: auto;
        justify-self:center;
        position: relative;
<<<<<<< Updated upstream
        top: 4%;
=======
>>>>>>> Stashed changes
    }
}
@media screen and (max-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 35% 35% 35% 20%;
        grid-template-areas:
            "foto1"
            "dmc"
            "foto2"
            "dmc2"
            "tabla"
        ;
    }
    .foto1{
        background-image: url(../multimedia/john_delorean.jpg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 60%;
        gap: 0rem;
        justify-self: center;
        margin-left: 0%;
    }
    .foto2{
        background-image: url(../multimedia/time-machine.jpg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 50%;
        gap: 0rem;
        justify-self: center;
        margin-left: 0%;
    }
    .DMC{
        width: 100%;
        height: auto;
        justify-self:center;
        position: relative;
        top: -20%;
        padding: 2px;
    }
    .DMC2{
        width: 90%;
        height: auto;
        justify-self:center;
        position: relative;
        top: -30%;
        padding: 2px;
    }   
    .contenedor_clasico {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30% 30% 35% 30%;
        grid-template-areas:
            "foto_clasico"
            "texto_clasico"
            "foto_clasico2"
            "foto_clasico3"
            "texto_clasico2"
            "foto_clasico4"
        ;
    }
    
    .texto_clasico {
        width: 90%;
        height: auto;
        margin-left: 3%;
    }

    .texto_clasico2 {
        width: 90%;
        height: auto;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico {
        width: 90%;
        height: 90%;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico2 {
        width: 90%;
        height: auto;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico3 {
        width: 90%;
        height: 100%;
        justify-self: center;
        margin-left: 1%;
    }

    .foto_clasico4 {
        width: 90%;
        height: 100%;
        justify-self: center;
        margin-left: 1%;
    }

    .logo2 {
        position: relative;
        top: 1000px;
    }
} */