html {
  height: max-content; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%; }

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to top, black, #292929); }

.menus ul li {
  font-size: large;
  list-style: none;
  display: inline-block;
  text-align: right; }

.menus__list {
  text-decoration: none;
  display: inline-block;
  text-align: end;
  margin: 25px;
  margin-right: 50px;
  width: auto;
  padding: 5px;
  text-transform: uppercase;
  font-size: larger; }

.menus__list--subir {
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-decoration: none;
  font-weight: bold;
  padding: 2px;
  background-color: black; }

.logo {
  background-image: url("../multimedia/DMC-Emblem.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 200px;
  height: 60px;
  border: solid 2px white;
  padding: 15px;
  margin: 20px; }

.logo2 {
  background-image: url("../multimedia/DMC-Emblem.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 200px;
  height: 60px;
  border: solid 2px white;
  padding: 15px; }

/* .logo2 {
    margin-top: 100px;
} */
.logo2 {
  background-image: url("../multimedia/DMC-Emblem.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 200px;
  height: 60px;
  border: solid 2px white;
  padding: 15px;
  margin-top: 240px; }

.DMC {
  color: white;
  background: linear-gradient(to top, #303030, #4d4d4d);
  border: black 4px solid;
  padding: 10px;
  grid-area: DMC;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-area: dmc;
  transition: height 3s; }

.DMC2 {
  color: white;
  background: linear-gradient(to top, #303030, #4d4d4d);
  border: black 4px solid;
  padding: 10px;
  grid-area: DMC2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-area: dmc2; }

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-area: texto; }

.foto_clasico {
  background-image: url("../multimedia/clasico.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 40%;
  height: 400px;
  margin: 25px;
  margin-left: 1%;
  border: solid 4px black;
  padding: 15px;
  grid-area: foto_clasico;
  transition: all 1s ease; }

.foto_clasico2 {
  background-image: url("../multimedia/clasico2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 45%;
  height: 400px;
  margin: 25px;
  margin-left: 5%;
  border: solid 4px black;
  padding: 15px;
  transition: all 1s ease; }

.foto_clasico3 {
  background-image: url("../multimedia/clasico3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 40%;
  height: 400px;
  margin: 25px;
  margin-left: 1%;
  border: solid 4px black;
  padding: 15px;
  transition: all 1s ease; }

.foto_clasico4 {
  background-image: url("../multimedia/clasico4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 45%;
  height: 400px;
  margin: 25px;
  margin-left: 5%;
  border: solid 4px black;
  padding: 15px;
  transition: all 1s ease; }

.foto_clasico:hover, .foto_clasico2:hover, .foto_clasico3:hover, .foto_clasico4:hover {
  transform: scale(1.1); }

.texto_clasico {
  display: inline-block;
  color: white;
  background-color: #3d3d3d;
  width: 40%;
  margin-left: 1%;
  border: black 4px solid;
  padding: 10px; }

.texto_clasico2 {
  display: inline-block;
  color: white;
  background-color: #3d3d3d;
  width: 45%;
  margin: 25px;
  margin-left: 6.4%;
  border: black 4px solid;
  padding: 10px;
  position: relative;
  top: -18px; }

.logo2N {
  background-image: url("../multimedia/DMC-Emblem.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 200px;
  height: 60px;
  border: solid 2px white;
  padding: 15px;
  margin-top: 300px; }

.foto_nuevo {
  background-image: url("../multimedia/alpha5-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 90%;
  height: 400px;
  border: solid 4px black;
  margin-left: 5%;
  align-self: end; }

.foto_nuevo2 {
  background-image: url("../multimedia/Alpha5-2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 90%;
  height: 400px;
  border: solid 4px black; }

.foto_nuevo3 {
  background-image: url("../multimedia/Alpha5-3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 90%;
  height: 500px;
  border: solid 4px black;
  align-self: start;
  justify-self: center; }

.foto_nuevo4 {
  background-image: url("../multimedia/Alpha5-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -215px;
  display: inline-block;
  width: 90%;
  height: 500px;
  border: solid 4px black;
  align-self: start;
  justify-self: center; }

.texto_nuevo2, .texto_nuevo {
  display: inline-block;
  color: white;
  background-color: #3d3d3d;
  width: 90%;
  border: black 4px solid;
  padding: 10px; }

.gridN {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 40% 40%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "n1 n2" "t1 t2" "n3 n4"; }

s .n1 {
  justify-self: center;
  align-self: end;
  grid-area: n1; }

.n2 {
  justify-self: center;
  align-self: end;
  grid-area: n2; }

.t1 {
  justify-self: center;
  align-self: start;
  grid-area: t1; }

.t2 {
  justify-self: center;
  align-self: start;
  grid-area: t2; }

.n3 {
  justify-self: center;
  align-self: start;
  grid-area: n3; }

.n4 {
  justify-self: center;
  align-self: start;
  grid-area: n4; }

.concepto1 {
  background-image: url("../multimedia/dmc-24.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 80%;
  height: 600px;
  margin: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 4px black;
  padding: 15px; }

.concepto2 {
  background-image: url("../multimedia/delorean-alpha-2-concept.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 80%;
  height: 600px;
  margin: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 4px black;
  padding: 15px; }

.concepto3 {
  background-image: url("../multimedia/delorean-alpha-3-concept.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 80%;
  height: 600px;
  margin: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 4px black;
  padding: 15px; }

.concepto4 {
  background-image: url("../multimedia/delorean-alpha-4-concept.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 80%;
  height: 600px;
  margin: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border: solid 4px black;
  padding: 15px; }

.texto_concepto {
  display: inline-block;
  color: white;
  background-color: #3d3d3d;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: black 4px solid;
  padding: 10px;
  position: relative;
  top: -50px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.texto__contacto {
  display: inline-block;
  color: white;
  background-color: #3d3d3d;
  padding: 5px;
  border: solid black 2 px; }

.texto__contacto--respuesta {
  display: inline-block;
  color: black;
  background-color: white;
  width: fit-content;
  position: relative;
  justify-content: center; }

.preguntas {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "pr1 rs1" "pr2 rs2" "pr3 rs3" "pr4 rs4"; }

.rs1 {
  justify-self: start;
  align-self: center;
  grid-area: rs1;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.pr2 {
  justify-self: end;
  align-self: center;
  grid-area: pr2;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.rs2 {
  justify-self: start;
  align-self: center;
  grid-area: rs2;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.pr3 {
  justify-self: end;
  align-self: center;
  grid-area: pr3;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.rs3 {
  justify-self: start;
  align-self: center;
  grid-area: rs3;
  width: 20px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.pr4 {
  justify-self: end;
  align-self: center;
  grid-area: pr4;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.rs4 {
  justify-self: start;
  align-self: center;
  grid-area: rs4;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.pr1 {
  justify-self: end;
  align-self: center;
  grid-area: pr1;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px; }

.logo2c {
  background-image: url("../multimedia/DMC-Emblem.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 200px;
  height: 60px;
  border: solid 2px white;
  padding: 15px;
  margin-top: 28.2%; }

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 20%;
    grid-template-areas: "foto1 foto2" "dmc dmc2" "tabla tabla";
    align-content: center;
    justify-content: center; }
  .foto1, .foto2 {
    width: 80%;
    height: 100%;
    background-image: url(../multimedia/john_delorean.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: center;
    position: relative;
    top: 20%; }
  .foto2 {
    background-image: url(../multimedia/time-machine.jpg); }
  .DMC {
    background: linear-gradient(to top, #303030, #4d4d4d);
    width: 90%;
    height: auto;
    justify-self: center;
    align-self: center;
    margin: 20px;
    position: relative;
    border: 4px solid black; }
  .DMC2 {
    background: linear-gradient(to top, #303030, #4d4d4d);
    width: 90%;
    height: auto;
    margin: 20px;
    justify-self: center;
    align-self: center;
    position: relative; }
  .footer {
    grid-area: footer; }
  .contenedor_clasico {
    grid-area: 2; }
  .foto_clasico {
    grid-area: foto_clasico; }
  .foto_clasico2 {
    grid-area: foto_clasico2; }
  .foto_clasico3 {
    grid-area: foto_clasico3; }
  .foto_clasico4 {
    grid-area: foto_clasico4; }
  .texto_clasico {
    grid-area: texto_clasico; }
  .texto_clasico2 {
    grid-area: texto_clasico2; } }

@media screen and (max-width: 1023px) {
  .contenedor_clasico {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 35% 20% 20% 35% 20%;
    grid-template-areas: "foto_clasico" "texto_clasico" "foto_clasico2" "foto_clasico3" "texto_clasico2" "foto_clasico4"; }
  .texto_clasico {
    width: 90%;
    height: auto; }
  .texto_clasico2 {
    width: 90%;
    height: 100%; }
  .foto_clasico {
    width: 90%;
    height: 70%; }
  .foto_clasico2 {
    width: 90%;
    height: 70%; }
  .foto_clasico3 {
    width: 90%;
    height: 100%;
    position: relative;
    top: -50px;
    justify-self: center; }
  .foto_clasico4 {
    width: 90%;
    height: 100%; } }

@media screen and (max-width: 1023px) {
  .contenedor_clasico {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 30% 50% 50% 35% 50%;
    grid-template-areas: "foto_clasico" "texto_clasico" "foto_clasico2" "foto_clasico3" "texto_clasico2" "foto_clasico4"; }
  .texto_clasico {
    width: 90%;
    height: auto;
    margin-left: 3%; }
  .texto_clasico2 {
    width: 90%;
    height: auto;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico {
    width: 90%;
    height: 90%;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico2 {
    width: 90%;
    height: auto;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico3 {
    width: 90%;
    height: 100%;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico4 {
    width: 90%;
    height: 100%;
    justify-self: center;
    margin-left: 1%; }
  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 55% 45%;
    grid-template-areas: "nada" "dmc" "dmc2"; }
  .DMC {
    width: 90%;
    height: auto;
    justify-self: center;
    position: relative; }
  .DMC2 {
    width: 90%;
    height: auto;
    justify-self: center;
    position: relative; } }

@media screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 55%;
    grid-template-areas: "dmc" "dmc2"; }
  .DMC {
    width: 90%;
    height: auto;
    justify-self: center;
    position: relative;
    padding: 2px;
    margin: 20px; }
  .DMC2 {
    width: 90%;
    height: auto;
    justify-self: center;
    position: relative;
    padding: 2px;
    margin: 20px; }
  .contenedor_clasico {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30% 30% 35% 30%;
    grid-template-areas: "foto_clasico" "texto_clasico" "foto_clasico2" "foto_clasico3" "texto_clasico2" "foto_clasico4"; }
  .texto_clasico {
    width: 90%;
    height: auto;
    margin-left: 3%; }
  .texto_clasico2 {
    width: 90%;
    height: auto;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico {
    width: 90%;
    height: 90%;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico2 {
    width: 90%;
    height: auto;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico3 {
    width: 90%;
    height: 100%;
    justify-self: center;
    margin-left: 1%; }
  .foto_clasico4 {
    width: 90%;
    height: 100%;
    justify-self: center;
    margin-left: 1%; } }

@media screen and (max-width: 1350px) {
  .foto_nuevo4 {
    background-image: url("../multimedia/Alpha5-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
    display: inline-block;
    width: 90%;
    height: 500px;
    border: solid 4px black;
    align-self: start;
    justify-self: center; } }

@media screen and (max-width: 1350px) {
  .foto_nuevo4 {
    background-image: url("../multimedia/Alpha5-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 90%;
    height: 500px;
    border: solid 4px black;
    align-self: start;
    justify-self: center; } }

@media screen and (max-width: 750px) {
  .foto_nuevo {
    background-image: url("../multimedia/alpha5-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 90%;
    height: 200px;
    border: solid 4px black;
    margin-left: 5%;
    align-self: center; }
  .foto_nuevo2 {
    background-image: url("../multimedia/Alpha5-2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 90%;
    height: 200px;
    border: solid 4px black; }
  .foto_nuevo4 {
    background-image: url("../multimedia/Alpha5-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 90%;
    height: 300px;
    border: solid 4px black;
    align-self: start;
    justify-self: center; }
  .foto_nuevo3 {
    background-image: url("../multimedia/Alpha5-3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 90%;
    height: 300px;
    border: solid 4px black;
    align-self: start;
    justify-self: center; }
  .gridN {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 72% 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "n1 n2" "t1 t2" "n3 n4"; }
  s .n1 {
    justify-self: center;
    align-self: center;
    grid-area: n1; }
  .n2 {
    justify-self: center;
    align-self: center;
    grid-area: n2; }
  .t1 {
    justify-self: center;
    align-self: start;
    grid-area: t1; }
  .t2 {
    justify-self: center;
    align-self: start;
    grid-area: t2; }
  .n3 {
    justify-self: center;
    align-self: start;
    grid-area: n3; }
  .n4 {
    justify-self: center;
    align-self: start;
    grid-area: n4; } }
