.logo2C{
    background-image: url("../multimedia/DMC-Emblem.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;

    width: 200px;
    height: 60px;
    border: solid 2px white;
    padding: 15px;
    margin-top: 800px;
}

.foto_clasico {
    background-image: url("../multimedia/clasico.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 25px;
    border: solid 4px black;
    padding: 15px;
    grid-area: foto_clasico;
    transition: all 1s ease;
}

.foto_clasico2 {
    background-image: url("../multimedia/clasico2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 25px;
    border: solid 4px black;
    padding: 15px;
    transition: all 1s ease;
    grid-area: foto_clasico2;
}

.foto_clasico3 {
    background-image: url("../multimedia/clasico3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 25px;
    border: solid 4px black;
    padding: 15px;
    transition: all 1s ease;
    grid-area: foto_clasico3;
}


.foto_clasico:hover, .foto_clasico2:hover, .foto_clasico3:hover{
    transform: scale(1.1);
}
.texto_clasico {
    display: inline-block;
    color: white;
    background: linear-gradient(to top, rgb(48, 48, 48), rgb(77, 77, 77));
    width: 90%;
    border: black 4px solid;
    padding: 10px;
    grid-area: texto_clasico;
}

.texto_clasico2 {
    display: inline-block;
    color: white;
    background: linear-gradient(to top, rgb(48, 48, 48), rgb(77, 77, 77));
    width: 90%;
    border: black 4px solid;
    padding: 10px;
    grid-area: texto_clasico2;
}