.logo2cc{
    background-image: url("../multimedia/DMC-Emblem.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;

    width: 200px;
    height: 60px;
    border: solid 2px white;
    padding: 15px;
    margin-top: 800px;
}

.concepto1 {
    background-image: url("../multimedia/dmc-24.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    border: solid 4px black;
    padding: 15px;
}

.concepto2 {
    background-image: url("../multimedia/delorean-alpha-2-concept.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    border: solid 4px black;
    padding: 15px;
}

.concepto3 {
    background-image: url("../multimedia/delorean-alpha-3-concept.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    border: solid 4px black;
    padding: 15px;
}

.concepto4 {
    background-image: url("../multimedia/delorean-alpha-4-concept.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 80%;
    height: 600px;
    border: solid 4px black;
    padding: 15px;
}

.texto_concepto {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 80%;
    border: black 4px solid;
    padding: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}