$espacio: 2rem;

.logo2 {
    background-image: url("../multimedia/DMC-Emblem.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;

    width: 200px;
    height: 60px;
    border: solid 2px white;
    padding: 15px;
    margin-top: 240px;
}

.DMC {
    color: white;
    background: linear-gradient(to top, rgb(48, 48, 48), rgb(77, 77, 77));
    border: black 4px solid;
    padding: 10px;
    grid-area: DMC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-area: dmc;
    transition: height 3s;
}

.DMC2 {
    color: white;
    background: linear-gradient(to top, rgb(48, 48, 48), rgb(77, 77, 77));
    border: black 4px solid;
    padding: 10px;
    grid-area: DMC2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $espacio;
    grid-area: dmc2;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $espacio;
    grid-area: texto;
}