.logo2N{
    background-image: url("../multimedia/DMC-Emblem.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;

    width: 200px;
    height: 60px;
    border: solid 2px white;
    padding: 15px;
    margin-top: 300px;
}
.foto_nuevo{
    background-image: url("../multimedia/alpha5-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 90%;
    height: 400px;
    border: solid 4px black;
    margin-left: 5%;
    align-self: end;
}

.foto_nuevo2 {
    background-image: url("../multimedia/Alpha5-2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;

    width: 90%;
    height: 400px;
    border: solid 4px black;
}

.foto_nuevo3 {
    background-image: url("../multimedia/Alpha5-3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;

    width: 90%;
    height: 500px;
    border: solid 4px black;
    align-self: start;
    justify-self: center;
}

.foto_nuevo4 {
    background-image: url("../multimedia/Alpha5-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -215px;

    display: inline-block;

    width: 90%;
    height: 500px;
    border: solid 4px black;
    align-self: start;
    justify-self: center;
}

.texto_nuevo {
    @extend .texto_nuevo2;
}

.texto_nuevo2 {
    display: inline-block;
    color: white;
    background-color: rgb(61, 61, 61);
    width: 90%;
    border: black 4px solid;
    padding: 10px;
}

.gridN {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 40%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "n1 n2"
        "t1 t2"
        "n3 n4";
}s

.n1 {
    justify-self: center;
    align-self: end;
    grid-area: n1;
}

.n2 {
    justify-self: center;
    align-self: end;
    grid-area: n2;
}

.t1 {
    justify-self: center;
    align-self: start;
    grid-area: t1;
}

.t2 {
    justify-self: center;
    align-self: start;
    grid-area: t2;
}

.n3 {
    justify-self: center;
    align-self: start;
    grid-area: n3;
}

.n4 {
    justify-self: center;
    align-self: start;
    grid-area: n4;
}