$colores: (
    gradiente: linear-gradient(to top, rgb(48, 48, 48), rgb(77, 77, 77)),
    color2: black
);

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@media screen and (min-width: 992px) {
    .main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 20%;
        grid-template-areas:
            "foto1 foto2"
            "dmc dmc2"
            "tabla tabla"
        ;
        align-content: center;
        justify-content: center;
    }

    .foto1 {
        width: 80%;
        height: 100%;
        background-image: url(../multimedia/john_delorean.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-self: center;
        position: relative;
        top: 20%;
    }

    .foto2 {
        @extend .foto1;
        background-image: url(../multimedia/time-machine.jpg);

    }


    .DMC {
        background: map-get($colores, gradiente);
        @include sizes(90%, auto);
        justify-self: center;
        align-self: center;
        margin: 20px;
        position: relative;
        border: 4px solid map-get($colores, color2);
    }

    .DMC2 {
        background: map-get($colores, gradiente);
        @include sizes(90%, auto);
        margin: 20px;
        justify-self: center;
        align-self: center;
        position: relative;
    }

    .footer {
        grid-area: footer;
    }

    .contenedor_clasico {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 80% 30% 100% 30% 60%;
        grid-template-areas:
        "foto_clasico foto_clasico4"
        "texto_clasico texto_clasico"
        "foto_clasico2 foto_clasico2"
        "texto_clasico2 texto_clasico2"
        "foto_clasico3 foto_clasico3";
    }

    .foto_clasico {
        grid-area: foto_clasico;
        @include sizes(70%, 80%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }

    .foto_clasico2 {
        grid-area: foto_clasico2;
        @include sizes(50%, 90%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }


    .foto_clasico3 {
        grid-area: foto_clasico3;
        @include sizes(50%, 80%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }
    .foto_clasico4 {
        grid-area: foto_clasico4;
        @include sizes(70%, 80%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }

    .texto_clasico {
        grid-area: texto_clasico;
        @include sizes(70%, 100%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }

    .texto_clasico2 {
        grid-area: texto_clasico2;
        @include sizes(70%, 100%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }

    .logo2C{
        margin-top: 1200px;
    }
}

@media screen and (max-width: 991px) {

    .contenedor_clasico {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 35% 65% 35% 35%;
        grid-template-areas:
            "foto_clasico"
            "texto_clasico"
            "foto_clasico2"
            "texto_clasico2"
            "foto_clasico3"
        ;
    }

    .texto_clasico {
        @include sizes(90%, 100%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }

    .texto_clasico2 {
        @include sizes(90%, 100%);
        display: flexbox;
        justify-self: center;
        align-self: center;
        margin-left: 0%;
        top: 0px;
    }

    .foto_clasico {
        @include sizes(50%, 90%);
        display: flexbox;
        justify-self: center;
        align-self: center;
    }

    .foto_clasico2 {
        @include sizes(60%, 90%);
        justify-self: center;
        align-self: center;
    }

    .foto_clasico3 {
        @include sizes(60%, 90%);
        margin-top: 50px;
        justify-self: center;
        display: flexbox;
        align-self: center;
    }

}

@media screen and (max-width: 1023px) {

    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 55% 45%;
        grid-template-areas:
            "nada"
            "dmc"
            "dmc2";
    }


    .DMC {
        width: 90%;
        height: auto;
        justify-self: center;
        position: relative;
    }

    .DMC2 {
        width: 90%;
        height: auto;
        justify-self: center;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 55% 55%;
        grid-template-areas:
            "dmc"
            "dmc2"
        ;
    }


    .DMC {
        width: 90%;
        height: auto;
        justify-self: center;
        position: relative;
        padding: 2px;
        margin: 20px;
    }

    .DMC2 {
        width: 90%;
        height: auto;
        justify-self: center;
        position: relative;
        padding: 2px;
        margin: 20px;
    }
/* Clasico */
.contenedor_clasico {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 30% 55% 30% 35%;
    grid-template-areas:
        "foto_clasico foto_clasico4"
        "texto_clasico texto_clasico"
        "foto_clasico2 foto_clasico2"
        "texto_clasico2 texto_clasico2"
        "foto_clasico3 foto_clasico2";
}
    .texto_clasico {
        @include sizes(70%, 110%);
    }

    .texto_clasico2 {
        @include sizes(70%, 110%);
    }

    .foto_clasico {
        @include sizes(80%, 65%);
        justify-self: center;
    }

    .foto_clasico2 {
        @include sizes(80%, 60%);
        justify-self: center;
        margin-left: 25px;
    }

    .foto_clasico3 {
        @include sizes(80%, 65%);
        justify-self: center;
        margin-left: 25px;
    }

    .foto_clasico4 {
        @include sizes(90%, 100px);
        justify-self: center;
        margin-left: 25px;
    }
    .logo2C {
        @include sizes(200px, 60px);
        margin-top: 1230px;
    }
}
@media screen and (max-width: 600px) {
    .contenedor_clasico {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 40% 35% 40% 15%;
        grid-template-areas:
            "foto_clasico"
            "texto_clasico"
            "foto_clasico2"
            "texto_clasico2"
            "foto_clasico3";
    }
        .texto_clasico {
            @include sizes(70%, 110%);
        }
    
        .texto_clasico2 {
            @include sizes(70%, 110%);
        }
    
        .foto_clasico {
            @include sizes(80%, 65%);
            justify-self: center;
        }
    
        .foto_clasico2 {
            @include sizes(90%, 60%);
            justify-self: center;
            margin-left: 25px;
        }
    
        .foto_clasico3 {
            @include sizes(80%, 65%);
            justify-self: center;
            margin-left: 25px;
        }
    
        .foto_clasico4 {
            @include sizes(90%, 100px);
            justify-self: center;
            margin-left: 25px;
        }
        .logo2C {
            @include sizes(100px, 30px);
            margin-top: 930px;
        }
}
@media screen and (max-width: 1350px) {
    .foto_nuevo4 {
        background-image: url("../multimedia/Alpha5-4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: inline-block;

        width: 90%;
        height: 500px;
        border: solid 4px black;
        align-self: start;
        justify-self: center;
    }
}


@media screen and (max-width: 750px) {
    .foto_nuevo{
        background-image: url("../multimedia/alpha5-1.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        display: inline-block;
    
        width: 90%;
        height: 200px;
        border: solid 4px black;
        margin-left: 5%;
        align-self: center;
    }
    .foto_nuevo2 {
        @include sizes (90%, 200px);
        border: solid 4px black;
    }
    .foto_nuevo4 {
        width: 90%;
        height: 300px;
        border: solid 4px black;
        align-self: flex-end;
        justify-self: center;
    }

    .foto_nuevo3 {
        background-image: url("../multimedia/Alpha5-3.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: inline-block;

        width: 90%;
        height: 300px;
        border: solid 4px black;
    }

    .gridN {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 72% 20%;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "n1 n2"
            "t1 t2"
            "n3 n4";
    }

    s .n1 {
        justify-self: center;
        align-self: center;
        grid-area: n1;
    }

    .n2 {
        justify-self: center;
        align-self: center;
        grid-area: n2;
    }

    .t1 {
        justify-self: center;
        align-self: start;
        grid-area: t1;
    }

    .t2 {
        justify-self: center;
        align-self: start;
        grid-area: t2;
    }

    .n3 {
        justify-self: center;
        align-self: flex-end;
        grid-area: n3;
    }

    .n4 {
        justify-self: center;
        align-self: flex-end;
        grid-area: n4;
    }
}